{% extends "theme.html" %}

{% block content %}

<h2 align="center">发布新应用</h2>
<br>
<br>
<center>
<!-- 用户看到的内容 -->
<form  method='POST' action='{% url '发布页面' %}' enctype="multipart/form-data">
    {% csrf_token %}
	　　　标　　题：　
	<input type="text" name="标题" value="例：抖音—用短视频记录美好生活">
	<br>
	<br>
	　　　介　　绍：　
	<textarea cols=100 rows=10 name="介绍" >在这里写APP介绍</textarea> 
	<br>
	<br>
	APP　链　接：　
	<input type="text" name="APP链接" value="Http://">
	<br>
	<br>
	APP图标(缩略图)：
	<input type="file" name="APP图标">
	<br>
	<br>
	　　　大　　图：
	<input type="file" name="大图">
	<br>
	<br>
	{{ 错误 }}
	<br>
	<br>
	<input class="btn btn-primary" type="submit" value="发布">
</form>
</center>

{% endblock content %}